*{
    margin: 0;
padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #5f2974;
    display: flex;
    justify-content: center;
    align-content: center;
}
.card{
    margin-top: 240px;
    background-color: palevioletred;
    border: none;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
h1{
    color:#a3006d;
    position: absolute;
    top: 10px;
    font-size: 30px;
    font-style: oblique;
} 
.int{
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
}
.ch{
    padding: 10px 7px;
    border: none;
    border-radius: 10px;
    background-color:rgb(255, 164, 180);
    color: rgb(75, 0, 76);
    cursor: pointer;
}
h6{
    font-size: 30px;
    position: absolute;
    top: 200px;
}
p{
    color: black;
    position: absolute;
    top: 180px;
    
}